body{
    margin-top: 0;
    word-break: break-all;
    color:rgb(255, 245, 240);
    background-color: rgb(36, 36, 36);
}

p,b{
    font-family: baskerville-urw, serif;
    font-weight: 500;
    font-style: normal;
    font-size: .75 em;
    margin: 0;
    display: inline;
    filter: blur(4px);
}

a:link{
    text-decoration: none;
    color:rgb(255, 245, 240);
}

a:visited{
    text-decoration: none;
    color:rgb(255, 245, 240);
}
b:hover {
    filter: none;
}
::-webkit-scrollbar {
    display: none;
}


